<!-- Copyright (c) 2023 Manifold Finance, Inc. -->
<!-- The Universal Permissive License (UPL), Version 1.0 -->
<!-- Subject to the condition set forth below, permission is hereby granted to any person obtaining a copy of this software, associated documentation and/or data (collectively the “Software”), free of charge and under any and all copyright rights in the Software, and any and all patent rights owned or freely licensable by each licensor hereunder covering either (i) the unmodified Software as contributed to or provided by such licensor, or (ii) the Larger Works (as defined below), to deal in both -->
<!-- (a) the Software, and -->
<!-- (b) any piece of software and/or hardware listed in the lrgrwrks.txt file if one is included with the Software (each a “Larger Work” to which the Software is contributed by such licensors), -->
<!-- without restriction, including without limitation the rights to copy, create derivative works of, display, perform, and distribute the Software and make, use, sell, offer for sale, import, export, have made, and have sold the Software and the Larger Work(s), and to sublicense the foregoing rights on either these or other terms. -->
<!-- This license is subject to the following condition: -->
<!-- The above copyright notice and either this complete permission notice or at a minimum a reference to the UPL must be included in all copies or substantial portions of the Software. -->
<!-- THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. -->
<!-- This script ensures source code files have copyright license headers. See license.sh for more information. -->
<nav class="md:flex md:items-center md:justify-between md:space-x-5 bg-white py-4 border-b-1">
    <div class="container mx-auto px-2">
        <div class="flex items-center space-x-5 flex-wrap">
            <div class="flex-shrink-0">
                <div class="relative">
                    <a href="/">
                        <img class="h-16 w-16 rounded-full pointer" src="/icon.svg" alt=""/>
                    </a>
                </div>
            </div>
            <div class="pt-1.5 flex-1">
                <h1 class="text-2xl font-bold text-gray-900">SecureRPC Relay</h1>
                <p class="text-sm font-medium text-gray-500 uppercase">{{ data.network }}</p>
            </div>
            <div class="flex items-center space-x-5">
                <a href="/" class="text-md font-medium text-gray-500 hover:text-gray-900">Home</a>
                <a href="/builders" class="text-md font-medium text-gray-500 hover:text-gray-900">Builders</a>
            </div>
            <div class="ml-auto">
                <a href="https://github.com/manifoldfinance" target="_blank">
                    <img src="/github.svg" alt="Github" class="h-8 w-8"></a>
            </div>
        </div>
    </div>
</nav>
